# Analisis inicial

Aqui se podria empezar la limpieza de Datos, e idear el analisis

In [10]:
import pandas as pd
from src.functions import lectura

In [15]:
excel_path = '../data/raw/QS WUR 2011-2022.xlsx'
df = lectura(excel_path)

In [16]:
df.sample(5)

,Year,Rank,O_Rank,Institution,Academic Reputation,AR Rank,Employer Reputation,ER Rank,Faculty Student,FS Rank,Citations per Faculty,CF Rank,International Faculty,IF Rank,International Students,IS Rank,Overall Score
285,2017.0,283.0,283.0,King Abdul Aziz University (KAU),27.3,398.0,24.8,401.0,66.5,175.0,11.4,401.0,99.0,63.0,68.1,194.0,37.6
284,2015.0,285.0,285.0,Queensland University Of Technology (QUT),46.1,267.0,76.7,123.0,22.2,401.0,25.1,401.0,97.6,56.0,52.1,264.0,43.2
10,2014.0,10.0,10.0,Princeton University,100.0,11.0,95.1,38.0,96.3,50.0,98.8,23.0,76.3,169.0,68.8,179.0,96.1
285,2021.0,286.0,286,University College Cork (UCC),28.6,294.0,31.3,313.0,42.8,364.0,23.4,512.0,91.9,154.0,46.4,314.0,34.9
714,2021.0,725.5,701-750,Kaohsiung Medical University,-,-,-,-,42.5,370.0,23.8,506.0,-,-,-,-,15.8 - 17.3